@model Project.UI.Areas.UserPanel.Models.ServiceTicketVM

@{
    ViewData["Title"] = "PreviewTicket";
    Layout = "~/Areas/UserPanel/Views/Shared/_Layout.cshtml";
}

<script src="~/design/template/assets/js/jquery-3.7.0.min.js"></script>
<script src="https://kit.fontawesome.com/3690f8811d.js" crossorigin="anonymous"></script>

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Servis Bileti</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="ticket-label">
                                @Model.ServiceTicket.Task
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="ticket-description">
                                @Model.ServiceTicket.Description
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 side-info">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="ticket-label">
                                Görev Önceliği
                            </div>
                            <div class="ticket-description">
                                @Model.ServiceTicket.TaskPriority
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="ticket-label">
                                Görev Durumu
                            </div>
                            <div class="ticket-description">
                                @Model.ServiceTicket.TaskStatus
                            </div>
                        </div>
                    </div>
                    <div class="form-group row vertical-align">
                        <div class="col-sm-6">
                            <div class="ticket-label">
                                Başlangıç Tarihi
                            </div>
                            <div class="ticket-description">
                                @Model.ServiceTicket.StartDate.Value.ToShortDateString()
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="ticket-label">
                                Bitirilme Tarihi
                            </div>
                            <div class="ticket-description">
                                @Model.ServiceTicket.CompletionDate.Value.ToShortDateString()
                            </div>
                        </div>
                    </div>

                </div>
                @if (Model.ServiceTicketImages != null)
                {
                    @foreach (var item in Model.ServiceTicketImages)
                    {
                        <div class="col-md-3">
                            <div class="col-sm-auto">
                                <div class="image-input">
                                    <div class="images">
                                        <div class="image">
                                            <a href="#" data-toggle="modal" data-target="#imageModal_@item.ID">
                                                <img src="@item.ImageUrl">
                                            </a>
                                        </div>

                                        <!-- Image Modal -->
                                        <div class="modal fade" id="imageModal_@item.ID" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel_@item.ID" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg modal-image-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="imageModalLabel_@item.ID">Fotoğraf</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <img src="@item.ImageUrl" class="img-fluid modal-image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row header">
                        <div class="col-sm-auto active-header">
                            <a href="#" class="btn btn-md" id="show-comments-btn">
                                Yorumlar
                            </a>
                        </div>
                        <div class="col-sm-auto">
                            <a href="#" class="btn btn-md" id="show-add-comment-btn">
                                Yorum Ekle
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row comments" id="comments-section">
                @if (Model.ServiceTicketComments != null)
                {
                    @foreach (var ServiceTicketComment in Model.ServiceTicketComments.OrderByDescending(x => x.CreatedDate))
                    {
                        var timeDifference = DateTime.Now - ServiceTicketComment.CreatedDate;
                        string formattedTime = string.Empty;

                        <div class="col-md-12 comment">
                            <div class="form-group row">
                                <div class="col-sm-12 author">
                                    <div class="author-image">
                                        <img src="@ServiceTicketComment.User.ImageUrl" />
                                    </div>
                                    <div class="author-fullname">
                                        @ServiceTicketComment.User.FullName
                                    </div>
                                    <div class="author-date">
                                        <span class="dot"></span>

                                        @if (timeDifference.TotalDays >= 1)
                                        {
                                            formattedTime = $"{(int)timeDifference.TotalDays} gün önce";
                                        }
                                        else if (timeDifference.TotalHours >= 1)
                                        {
                                            formattedTime = $"{(int)timeDifference.TotalHours} saat önce";
                                        }
                                        else if (timeDifference.TotalMinutes >= 1)
                                        {
                                            formattedTime = $"{(int)timeDifference.TotalMinutes} dakika önce";
                                        }
                                        else if (timeDifference.TotalMinutes < 1)
                                        {
                                            formattedTime = $"{(int)timeDifference.TotalSeconds} saniye önce";
                                        }

                                        <span class="time">@formattedTime</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="comment-title">
                                        @ServiceTicketComment.Title
                                    </div>
                                    <div class="comment-description">
                                        @ServiceTicketComment.Description
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="comment-images">
                                        @if (ServiceTicketComment.ServiceTicketCommentImages != null)
                                        {
                                            @foreach (var serviceTicketCommentImage in Model.ServiceTicketCommentImages.Where(x => x.ServiceTicketCommentID == ServiceTicketComment.ID))
                                            {
                                                <div class="comment-image">
                                                    <a href="" data-toggle="modal" data-target="#imageModal_@serviceTicketCommentImage.ID">
                                                        <img src="@serviceTicketCommentImage.ImageUrl">
                                                    </a>
                                                </div>

                                                <!-- Image Modal -->
                                                <div class="modal fade" id="imageModal_@serviceTicketCommentImage.ID" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel_@serviceTicketCommentImage.ID" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-lg modal-image-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="imageModalLabel_@serviceTicketCommentImage.ID">Fotoğraf</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="@serviceTicketCommentImage.ImageUrl" class="img-fluid modal-image">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="row add-comment" id="add-comment-section">
                <form class="form-sample" method="post" enctype="multipart/form-data">

                    <input type="text" asp-for="ServiceTicket.ID" style="display:none;" />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="add-comment-info add-comment-title">
                                <input type="text" class="form-control" asp-for="ServiceTicketComment.Title">
                                <span asp-validation-for="ServiceTicketComment.Title" class="text-danger"></span>
                            </div>
                            <div class="add-comment-info add-comment-description">
                                <textarea class="form-control" asp-for="ServiceTicketComment.Description" rows="7" cols="3"></textarea>
                                <span asp-validation-for="ServiceTicketComment.Description" class="text-danger"></span>
                            </div>
                            <div class="add-comment-info add-comment-image">
                                <div class="col-sm-12">
                                    <div class="custom-file">
                                        <input type="file" id="file-input" asp-for="Image" multiple />
                                        <label for="file-input" class="file-upload-label">
                                            <i class="fas fa-paperclip"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="add-comment-info add-comment-button">
                                <button type="submit" class="btn btn-comment align-middle btn-primary btn-icon-text">
                                    <i class="mdi mdi-file-check btn-icon-prepend"></i> Ekle
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#show-comments-btn').click(function (e) {
            e.preventDefault();
            $('#comments-section').show();
            $('#add-comment-section').hide();
            $('.header .col-sm-auto').removeClass('active-header');
            $(this).parent().addClass('active-header');
        });

        $('#show-add-comment-btn').click(function (e) {
            e.preventDefault();
            $('#comments-section').hide();
            $('#add-comment-section').show();
            $('.header .col-sm-auto').removeClass('active-header');
            $(this).parent().addClass('active-header');
        });
    });

</script>